# Ignora ambientes virtuais
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos gerados
*.mp3
*.txt
resumo_video.txt
video_audio.mp3

# Arquivos de configuração sensíveis
.env

# Logs
*.log

# Dados temporários
tmp/
temp/
.cache/
datasets/

# Git e editor configs
.git/
.gitignore
.vscode/
.idea/
*.swp

# Docker configs indesejados
Dockerfile~
docker-compose.override.yml
