# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
.venv/
env/
venv/

# Arquivos de áudio e texto gerados
*.mp3
*.wav
*.txt
resumo_video.txt
video_audio.mp3

# Logs
*.log

# Configurações de ambiente
.env

# Dados temporários
tmp/
temp/
.cache/
datasets/

# Diretórios de controle de versão
.git/
.gitignore

# Arquivos de IDEs/editors
.vscode/
.idea/
*.swp

# Docker
Dockerfile~
docker-compose.override.yml
